{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">

          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% if not message_sent %}
      <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as
        possible!</p>
      <!--      TODO Consider converting this to a not so quick form to allow pre-population of user info -->

      <form method="POST" action="{{ url_for('login') }}" novalidate>
        {{ form.csrf_token }}
        <p>
          {{ form.name.label }} <br> {{ form.name(size=30) }}
          {% for error in form.name.errors %}
          <span style="color:red">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.email.label }} <br> {{ form.email(size=30) }}
          {% for error in form.email.errors %}
          <span style="color:red">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.phone.label }} <br> {{ form.phone(size=30) }}
          {% for error in form.phone.errors %}
          <span style="color:red">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.message.label }} <br> {{ form.message(size=250) }}
          {% for error in form.message.errors %}
          <span style="color:red">{{ error }}</span>
          {% endfor %}
        </p>
        {{ form.submit }}
      </form>

<!--      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
      {% else %}
      <p>Thanks for reaching out. I'll be in touch!</p>
      {% endif %}
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}
{% endblock %}